*.swp
*~
.DS_Store
.eslintcache
Thumbs.db
.project
.svn
.nvm-version
.vscode
node_modules
.python-version
*.log
/tags
/atom-shell/
/out/
docs/output
docs/includes
spec/fixtures/evil-files/
!spec/fixtures/packages/package-with-incompatible-native-module-loaded-conditionally/node_modules/
out/
/electron/
/node_modules/
/script/node_modules/
/apm/node_modules/
/packages/atom-material-ui/node_modules/
/packages/git-diff/node_modules/
/packages/grammar-selector/node_modules/
/script/update-server/node_modules/
/script/vsts/node_modules/
/dot-atom/packages/color-picker/node_modules/
/dot-atom/packages/linter/node_modules/
/dot-atom/packages/minimap/node_modules/
