*.swp
*~
.DS_Store
.eslintcache
Thumbs.db
.project
.svn
.nvm-version
.vscode
node_modules
.python-version
.rollup.cache/
.parcel-cache/
*.log
/tags
/atom-shell/
/out/
/electron/eab1f78c87b7d1ac45e4573c23f9cef882b949b90fd082e33957144409d9bc9d/
/electron/electron-v4.2.12-linux-x64.zip
/electron/SHASUMS256.txt-4.2.12
docs/output
docs/includes
spec/fixtures/evil-files/
!spec/fixtures/packages/package-with-incompatible-native-module-loaded-conditionally/node_modules/
out/
/node_modules/
/script/node_modules/
/apm/node_modules/
/packages/atom-material-ui/node_modules/
/packages/git-diff/node_modules/
/packages/grammar-selector/node_modules/
/script/update-server/node_modules/
/script/vsts/node_modules/
